@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CardList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Card {
  flex-basis: 25%;
}

.autotext{
  width: 25%;
}
.autobtn{
  width: 20%;
}

.autonav{
  width:100%;
}

.main-img {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img img {
  width: 200px;
  height: 200px;
}